# Node modules (si usas npm o bundler)
node_modules/

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de build / bundler
dist/
build/

# Configuración de editores
.vscode/
.idea/

# Archivos temporales
*.tmp
*.swp

# Cachés de navegador u otras herramientas
.cache/
